.section-full {
    min-height: 100vh;
    padding: 9rem 3rem;
    position: relative;
    opacity: 1;
}

.section-about {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.section-about .text-zone {
    width: 40%;
}

.section-full .text-zone {
    padding-left: 5rem;
}

.text-zone header {
    position: relative;
}

h2 {
    font-family: Helvetica;
    color: #08fdd8;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: -10px;
    font-size: 7.3rem;
    line-height: 6.7rem;
}

.text-zone p {
    position: relative;
    margin-bottom: 1.5rem;
    text-align: justify;
}
