.section-full {
    min-height: 100vh;
    padding: 9rem 3rem;
    position: relative;
    opacity: 1;
}

.section-contact {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.section-contact .text-zone {
    width: 50%;
    padding-right: 5rem;
}

.section-full .text-zone {
    padding-left: 5rem;
}

.text-zone header {
    position: relative;
}

h2 {
    font-family: Helvetica;
    color: #08fdd8;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: -10px;
    font-size: 7.3rem;
    line-height: 6.7rem;
}

.text-zone span {
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.text-zone p {
    position: relative;
    margin-bottom: 1.5rem;
    text-align: justify;
}

.contact-form-container {
    width: 100%;
    padding-top: 5rem;
    display: block;
    position: relative;
}

.contact-form-container form {
    position: relative;
}

.contact-form-container input[type="text"],
.contact-form-container input[type="email"] {
    position: relative;
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.contact-form-container textarea {
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 150px;
    outline: none;
}

.contact-form-container .row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.contact-form-container .row div {
    width: 100%;
    display: flex;
}

.contact-form-container .row div .focus {
    width: calc(50% - 5px);
}

.focus {
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 52px;
    cursor: pointer;
    padding-bottom: 2px;
    background: linear-gradient(to right, #08fdd8 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.3s ease-out;
}

.contact-form-container textarea ~ .focus {
    min-height: 152px;
}

.input-field:focus ~ .focus {
    background-position: left bottom;
}

.input-field:focus::placeholder {
    color: transparent;
}

.error ~ .focus {
    background: red;
}

.row:last-of-type {
    justify-content: flex-end;
}

@media screen and (max-width: 1100px) {
    .section-full .text-zone {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .section-contact .text-zone {
        width: 50%;
    }

    h2 {
        font-size: 6.5rem;
        line-height: 6rem;
    }
}

@media screen and (max-width: 900px) {
    .section-contact {
        display: block;
    }

    .section-contact .text-zone {
        width: 100%;
    }

    .text-zone h2 {
        line-height: 4.9rem;
    }
}

@media screen and (max-width: 600px) {
    .section-full {
        padding: 9rem 3rem;
    }

    .section-full .text-zone {
        padding-left: 0rem;
        padding-right: 0;
    }

    h2 {
        font-size: 5.5rem;
        line-height: 6rem;
    }
}

@media screen and (max-width: 480px) {
    .text-zone h2,
    h2 {
        font-size: 4.4rem;
        line-height: 4.2rem;
    }
}

@media screen and (max-width: 380px) {
    .text-zone h2,
    h2 {
        font-size: 3.5rem;
        line-height: 4rem;
    }
}
