.logo {
    color: #fd2155;
    font-weight: 600;
    text-shadow: -1px 1px #08fdd8, -2px 2px #08fdd8, -3px 3px #08fdd8;
}

.logo:hover {
    color: #fd2155 !important;
    animation: logo-spin 1 0.5s linear;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
