.card {
    padding: 3rem 3rem 2.5rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 4rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 48%;
    background: #1d1d1d;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
        0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
        0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-top: 2px solid #fd2155;
    overflow: hidden;
    margin-bottom: 5rem;
    width: 32%;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1 / 1;
    transition: transform 0.4s, -webkit-transform 0.4s;
}

.image:hover {
    transform: scale(1.14);
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #fd2155;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 0;
    margin-bottom: -1rem;
    margin-top: 1rem;
    display: block;
}

@media screen and (max-width: 1100px) {
    .card {
        width: 48%;
    }
}

@media screen and (max-width: 700px) {
    .card {
        width: 100%;
    }
}
